
/VoeisUploadUtility/build/classes/Classes/BypassApacheHttpAuthentication$1.class
/VoeisUploadUtility/build/classes/Classes/BypassJavaHttpAuthentication$1.class
/httpcomponents-client-4.1.3/tutorial
/httpcomponents-client-4.1.3/examples
/httpcomponents-client-4.1.3/examples
/commons-fileupload-1.2.2/site